/* 
	Since i started using Live Server this is needed
	for the body to display full height for some reason...
*/
html, body {
    height: 100%;
}

body {
	background-color: #78909c;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#boardCanvas {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border: 5px solid black;
}

#moveInput {
	position: absolute;
	left: 75%;
	top: 15%;
	transform: translate(-50%, -50%);
}
